#upBtn {
    position: fixed;
    bottom: 16px;
    right: 50%;
    transform: translateX(50%);
    z-index: 1000;
}

#footer {
    height: 100px;
}

#logo {
    cursor: pointer;
}

#carousel {
    height: 100px;
}

#showProductsBtn {
    font-size: 150%;
    height: 50px;
}

.thumbnail {
    width: 65px;
    cursor: pointer;
}

.height-fixed {
    height: 500px;
}

.my-fixed-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.my-h-95 {
    height: 95%;
}

.pointer {
    cursor: pointer;
}

.bg-white-50 {
    background: rgba(255, 255, 255, 0.5);
}

.my-absolute-top {
    position: absolute;
    top: 0;
    z-index: 10000;
}

.my-absolute-right {
    position: absolute;
    right: 10px;
    z-index: 10000;
    top: 50%;
    transform: translatey(-50%);

}

.h70px {
    height: 70px;
}

.my-badge {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    height: 20px;
    line-height: 15.5px;
    vertical-align: middle;
    padding: 0 5px !important;
}


.my-fullscreen {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

.picSmall {
    width: 50px;
    height: 50px;
}

.rotated {
    transform: rotate(180deg);
}

input[type="text"],
textarea,
button {
    outline: none;
    box-shadow: none !important;
}