#upBtn {
    position: fixed;
    bottom: 16px;
    right: 50%;
    transform: translateX(50%);
    z-index: 1000;
}

#logo {
    cursor: pointer;
}

#confirm{
    height:60px;
}

.bg-white-50 {
    background: rgba(255, 255, 255, 0.5);
}

.my-absolute-top {
    position: absolute;
    top: 0;
    z-index: 10000;
}

.my-fullscreen{
    z-index: 10000;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(255, 255, 255, 0.5);
}

/* input[type="text"],
textarea,
button {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
} */